In [1]:
print("Hello World!!!")

Hello World!!!

In [2]:
n1, n2, name = 10, 11.5, "vishrut"

In [3]:
print(n1)
print("n2 is", n2)
print("My name is", name)

10
n2 is 11.5
My name is vishrut

In [4]:
print(n1, "is of type:", type(n1))
print(n2, "is complex number?", isinstance(11.5, complex))

10 is of type: <class 'int'>
11.5 is complex number? False

In [5]:
n3 = 1 + 2j
print(n3, "is complex number?", isinstance(1 + 2j, complex))

(1+2j) is complex number? True

In [6]:
print(name[0])
print(name[1:3])
print(name[4:])
print(name[:5])
print(name * 4)
print("hello" + name)

v
is
rut
vishr
vishrutvishrutvishrutvishrut
hellovishrut

In [7]:
l1 = [10, 20, 30.5, "vishrut"]

In [8]:
print(l1, type(l1))
print(l1[1])
print(l1[1:3])

[10, 20, 30.5, 'vishrut'] <class 'list'>
20
[20, 30.5]

In [9]:
t1 = (10, 20, 30, 40, 50)

print(t1, type(t1))
print(t1[1])
print(t1[3:])
print(t1[:3])

(10, 20, 30, 40, 50) <class 'tuple'>
20
(40, 50)
(10, 20, 30)

In [10]:
d1 = {10: "hello", "a1": 100, 20: 200}

print(d1, type(d1))
print(d1[10])
print(d1["a1"])
print(d1[20])

{10: 'hello', 'a1': 100, 20: 200} <class 'dict'>
hello
100
200